<!-- Header -->
<app-header></app-header>
<div class="container-fluid">
  <!-- Virement Form -->
  <h1 class="h4 col-sm-4 mb-4 mt-5 offset-sm-1"><u>Virement compte à compte</u></h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="container bg-light border border-dark py-5">
      <div class="form-group row col-sm-8 mx-auto">
          <label class="control-label " for="virementVers"><strong>compte à créditer : </strong></label>
          <select ngModel name="idCompte1"  class="custom-select">
            <option selected>N° compte</option>
            <option *ngFor="let compte of listeComptes">{{compte.idCompte}}</option>
          </select>
          <br><br>
        <label class="control-label " for="virementVers"><strong>compte à débiter : </strong></label>
        <select ngModel name="idCompte2" class="custom-select">
          <option selected>N° compte</option>
          <option *ngFor="let compte of listeComptes">{{compte.idCompte}}</option>
        </select>
        <br><br>
        <label class="control-label " for="transaction"><strong>Montant de la transaction : </strong></label>
        <input required type="number" ngModel name="montant" class="form-control" id="transaction" name="montant"
          placeholder="Montant de la transaction" />
      </div>
      <!-- Bouton Valider -->
      <div class="form-group">
            <div class="mt-3  col-sm-3 offset-sm-10 ">
              <button type="submit" class="btn btn-outline-secondary">Valider</button>
            </div>
          </div>
    </div>
  </form>
