<!-- Header -->
<app-header-gerant></app-header-gerant>
<div class="container">
<!-- Login Form -->
<h1 class="h4 col-sm-4 mb-4 mt-5 offset-sm-1"><u>Liste des conseillers:</u></h1>


  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">nom</th>
        <th scope="col">prenom</th>
        <th scope="col">Email</th>
        <th scope="col">Adresse</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Boucler sur les éléments du Tableau conseiller-->
      <tr *ngFor="let conseiller of listeConseillers; index as i">
        <th scope="row">{{conseiller.idConseiller}}</th>
        <td>{{conseiller.nomConseiller}}</td>
        <td>{{conseiller.prenomConseiller}}</td>
        <td>{{conseiller.emailConseiller}}</td>
        <td>{{conseiller.adresseConseiller}}</td>
        <td class="row mx-md-n2">
          <a (click)="deleteConseiller(conseiller.idConseiller)" class="col px-md-1"><img src="assets/img/deleting.png" width="20" height="20"></a>
          <a [routerLink]="['/listeClientsNonAffecter',conseiller.idConseiller]" class="col px-md-1"><img src="assets/img/addClient.png" width="25" height="25"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
