<!-- Header -->
<app-header-gerant></app-header-gerant>
<div class="container">
<!-- Login Form -->
<h1 class="h4 col-sm-4 mb-4 mt-5 offset-sm-1"><u>Liste des clients non Affecter:</u></h1>


  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">nom</th>
        <th scope="col">prenom</th>
        <th scope="col">addresse</th>
        <th scope="col">email</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      
      <!-- Boucler sur les éléments du Tableau conseiller-->
      <tr *ngFor="let client of listeClientsNonAffecter; index as i">
        <th scope="row">{{client.idClient}}</th>
        <td>{{client.nomClient}}</td>
        <td>{{client.prenomClient}}</td>
        <td>{{client.emailClient}}</td>
        <td>{{client.adresseClient}}</td>
        <td class="row mx-md-n2">
          <a (click)="affecterClient(client.idClient)" class="col px-md-1"><img src="assets/img/checkedClient.png" width="30" height="30"></a>
         </td>
      </tr>
    </tbody>
  </table>
</div>
